.mainFijoDesktop {
    padding-bottom: 1rem;
}

.titulos {
    font-family: $fuente;
    font-weight: map-get($tamanos-fuente, bold);
    font-size: 2rem;
    color: map-get($colores, celeste);
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.paginaSiguiente {
    height: 10%;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.paginaSiguiente__texto {
    font-family: $fuente;
    font-weight: map-get($tamanos-fuente, bold);
    font-size: 1.5rem;
}

.linkPagina {
    font-family: $fuente;
    font-weight: map-get($tamanos-fuente, bold);
    color: map-get($colores, rojo);
    text-decoration: none;
}

.linkPagina:hover {
    color: map-get($colores, amarillo);
}

.negrita {
    font-weight: map-get($tamanos-fuente, bold);
}

/*Media queries*/
/*Tablets*/
@media screen and (min-width: 768px) {
    .titulos {
        padding-left: 2rem;
        justify-content: flex-start;
    }

    .mainFijoTablet {
        height: 75vh;
    }
}

/*Desktop*/
@media screen and (min-width: 990px) {
    .mainFijoDesktop {
        height: 75vh;
        display: flex;
        align-items: center;
    }
}