@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

$fuente: 'Quicksand',
sans-serif;

/*Mapas*/
$colores:(rojo: rgb(239, 111, 108),
    celeste: rgb(102, 137, 161),
    amarillo: rgb(250, 188, 42));

$tamanos-fuente:(light: 300,
    medium: 500,
    bold: 700);